<head >
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">  
</head>
  
      <div  class="container-fluid">  
      <h3 align="center">Welcome</h3>
  
        
          <nav class="navbar navbar-inverse navbar-fixed-top navbar-collapse" id="head-navbar">  
      
            <button type="button" tyle="margin:5px;" class="btn  btn-info navbar-btn" (click)='AddAmount()'> 
                          <span class="glyphicon glyphicon-shopping-cart">Add Amount</span> 
             </button>            
          
          <button type="button" tyle="margin:5px;" class="btn  btn-info navbar-btn" (click)='DisplayBalance()'> 
                          <span class="glyphicon glyphicon-shopping-cart">Display Balance</span> 
             </button>

            <button type="button" tyle="margin:5px;" class="btn  btn-info navbar-btn" (click)='TransferAmount()'> 
                          <span class="glyphicon glyphicon-shopping-cart">Transfer Amount</span> 
             </button>
                    
            <button type="button" class="btn  btn-info navbar-btn" (click)='ShowTransactions()'> 
              <span class="glyphicon glyphicon-shopping-cart">Show Transactions</span> 
 </button>
          
  
    